.cabecalho {
    background-color: blueviolet;
    color: #fdfdfd;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: brown;
    padding: 100px;
}

.section2 {
    background-color: blue;
    padding: 100px;
}